.img-croqui-petropolis {
    width: 75%;
    height: auto;
    padding: 3em;
}
.img-lojas {
    width: 100%;
    height: auto;
    border-radius: 30px;
}
.img-plotter {
    width: 40%;
    height: auto;
}
.img-40 {
    width: 40%;
    height: auto;
}
.img-80 {
    width: 80%;
    height: auto;
}
.img-33 {
    width: 33%;
    height: auto;
}
@media (max-width: 600px) {
    .img-40 {
        width: 80%;
    }
}